<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Website</title>
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="container-fluid">

            <a href="../back_up(assignment2)/website-list.html">
                <span class="pull-right glyphicon glyphicon-ok"></span></a>

            <a class="navbar" href="../back_up(assignment2)/website-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>Edit Website</a>
        </div>

    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <!--  <div class="col-xs-3 visible-lg split-view-left"> -->
        <div class="col-sm-4 hidden-xs scrollable-left">

            <ul class="list-group">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../back_up(assignment2)/page-list.html">Wikipedia</a>
                        </div>
                        <div class="col-xs-2">
                            <span class="pull-right glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Facebook</div>
                        <div class="col-xs-2">
                            <span class="pull-right glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Twitter</div>
                        <div class="col-xs-2">
                            <span class="pull-right glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Amazon</div>
                        <div class="col-xs-2">
                            <span class="pull-right glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <!--  <div class="col-xs-12 col-lg-9 split-view-right"> -->
        <div class="col-xs-12 col-sm-8 split-view-right">

            <label for="name">Name</label>
            <input id="name"
                   class="form-control"
                   value="Facebook"/>

            <label for="description">Description</label>
            <textarea id="description"
                      rows="5"
                      class="form-control">Social network that allows people to connect with each other
            </textarea>

            <a class="btn btn-default btn-danger btn-block"
               href="../back_up(assignment2)/website-list.html"
               role="button">Delete</a>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../back_up(assignment2)/profile.html">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
</body>

</html>