<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites</title>
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="../back_up(assignment2)/website-new.html">
            <span class="pull-right glyphicon glyphicon-plus"></span></a>

        <a class="navbar" href="../back_up(assignment2)/profile.html">
            <span class="glyphicon glyphicon-chevron-left"></span>Websites</a>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li class="list-group-item">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-xs-10 col-sm-4">Wikipedia</div>
                </a>
                <div class="col-sm-4 hidden-xs"></div>
                <div class="col-sm-2 hidden-xs"></div>
                <div class="col-xs-2">
                    <a href="../back_up(assignment2)/website-edit.html">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-xs-10 col-sm-4">Facebook</div>
                </a>
                <div class="col-sm-4 hidden-xs"></div>
                <div class="col-sm-2 hidden-xs"></div>
                <div class="col-xs-2">
                    <a href="../back_up(assignment2)/website-edit.html">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-xs-10 col-sm-4">Twitter</div>
                </a>
                <div class="col-sm-4 hidden-xs"></div>
                <div class="col-sm-2 hidden-xs"></div>
                <div class="col-xs-2">
                    <a href="../back_up(assignment2)/website-edit.html">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-xs-10 col-sm-4">Amazon</div>
                </a>
                <div class="col-sm-4 hidden-xs"></div>
                <div class="col-sm-2 hidden-xs"></div>
                <div class="col-xs-2">
                    <a href="../back_up(assignment2)/website-edit.html">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../back_up(assignment2)/profile.html">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>
</html>