<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Website</title>
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="../back_up(assignment2)/website-list.html">
            <span class="pull-right glyphicon glyphicon-ok"></span></a>

        <a class="navbar" href="../back_up(assignment2)/website-list.html">
            <span class="glyphicon glyphicon-chevron-left"></span>New Website</a>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 hidden-xs hidden-sm">
            <ul class="list-group">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Wikipedia</div>
                        <div class="col-xs-2">
                            <a href="../back_up(assignment2)/website-edit.html">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Facebook</div>
                        <div class="col-xs-2">
                            <a href="../back_up(assignment2)/website-edit.html">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Twitter</div>
                        <div class="col-xs-2">
                            <a href="../back_up(assignment2)/website-edit.html">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Amazon</div>
                        <div class="col-xs-2">
                            <span class="pull-right glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-9 col-lg-9 split-view-right">

            <label for="name">Name</label>
            <input name="website"
                   placeholder="Facebook"
                   class="form-control"
                   id="name"/>

            <label for="description">Description</label>
            <textarea name="description of the website"
                      rows="5"
                      placeholder="Social network that allows people to connect with each other"
                      class="form-control"
                      id="description"></textarea>

            <a class="btn btn-default btn-primary btn-block"
               href="../back_up(assignment2)/website-list.html"
               role="button">Create</a>

            <a class="btn btn-default btn-danger btn-block"
               href="../back_up(assignment2)/website-list.html"
               role="button">Cancel</a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../back_up(assignment2)/profile.html">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>

</html>