<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Edit</title>
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="../back_up(assignment2)/widget-list.html">
            <span class="pull-right glyphicon glyphicon-ok"></span></a>

        <a class="navbar" href="../back_up(assignment2)/widget-list.html">
            <span class="glyphicon glyphicon-chevron-left"></span>Widget Edit</a>

    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input name="name"
           placeholder="Widget Name"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="text"
           placeholder="Type in text"
           class="form-control"
           id="text">
    </input>


    <label for="url">URL</label>
    <input name="url"
           value="https://www.youtube.com/watch?v=f6NjClxO1pk"
           class="form-control"
           id="url"/>

    <label for="percentage">Width</label>
    <input name="percentage"
           value="100%"
           class="form-control"
           id="percentage">
    </input>

    <a class="btn btn-default btn-danger btn-block"
       href="../back_up(assignment2)/widget-list.html"
       role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <span class="pull-right glyphicon glyphicon-user"></span>
    </div>
</nav>

</body>
</html>