<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widgets</title>
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
    <style>
        p {
            text-align: justify;
        }
    </style>
</head>


<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="../back_up(assignment2)/widget-choose.html">
            <span class="pull-right glyphicon glyphicon-plus"></span></a>

        <a class="navbar" href="../back_up(assignment2)/page-list.html">
            <span class="glyphicon glyphicon-chevron-left"></span>Widgets</a>

    </div>
</nav>

<div class="container-fluid">
    <div class="wd-widget">
        <!-- wd-toolbar: allows to position toolbar on the widgets -->
        <div class="wd-toolbar">
            <a href="../back_up(assignment2)/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <h1>PIANIST MAGAZINE</h1>
    </div>

    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="../back_up(assignment2)/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3> Does the instantaneous nature of modern technology get in the way of learning the piano?</h3>
    </div>

    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="../back_up(assignment2)/widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="90%"
             src="https://wgp-cdn.co.uk/PIA/jpg/PianoTube-621x402-27642/300/300/"/>
    </div>

    <div class="wd-widget">
        <div class="wd-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <p>
            Think of something you want to know. The average life expectancy in the United Kingdom, maybe? How many children did J.S. Bach have? How many cups of tea are consumed every day in Britain? Easy, the answers: 81 years, 20 children and 156 million cups. All you have to do is grab a device, be that a mobile phone or a tablet, plug the question into a search engine and you have the answer. That takes 30 seconds at most.
        </p>

        <p>
            Now place yourself in the ancient kingdom of Magadha, India, in 1000 AD. You have at your fingertips one of the greatest Buddhist monasteries ever constructed, with a library containing, by modern estimates, hundreds of thousands of texts on subjects ranging from grammar to astronomy. Despite this, if you needed information on a certain topic you would have to patiently and methodically search the library. The library would be divided into specific sections to help your thirst for knowledge but getting that information would be slow by modern standards. Fast-forward to present day and all those facts you read at the beginning of this article took me less than 30 seconds to find.
        </p>

        <p>
            Now where does that leave music? Patience and an appreciation that improvement takes time are fundamental parts of learning the piano. Every teacher will tell you this. Does this mean that if those core qualities for learning an instrument are practised less in daily life then learning the piano becomes more difficult? Ultimately the answer is likely to be yes. There will of course be exceptions, but if a beginner to the piano finds all their other work supported by a vast ocean of instantaneously accessible answers then sitting at the piano having to carefully find the answer becomes comparatively tedious and frustrating. However, there is a solution.

            Instead of seeing modern technology as a demon sucking hours away from our lives, it can be a blessing. Consider it to be as if the great Buddhist library of Magadha, albeit updated slightly, is following you around ready for your inquisitive mind. If a history essay can benefit from immediate information so can music. Take the International Music Score Library Project (IMSLP) for example, and you can within 30 seconds have Bartók’s Piano Sonata in front of your eyes. Then listen to a world-class pianist perform it, maybe Lang Lang or Geoffrey Tozer, and how could you not want to practise it?

            Practising now has a clear goal, and if after 30 minutes you lose your focus, then just listen to another performance. Suddenly the patience of learning the piano is irrelevant, instead being replaced by pure enjoyment. With enjoyment the demanding aspects of the piano take care of themselves and the time needed to make improvements flies past.

            The instantaneous nature of modern technology can get in the way of music, but only if we let it.
        </p>
    </div>

    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="../back_up(assignment2)/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>A Beautiful Composition by Gian Marco La Serra</h3>
    </div>

    <div class="wd-widget">

        <!-- gb-youtubeVideo: positions youtube video appropriately on the
        page and makes it responsive -->
        <div class="gb-youtubeVideo">
            <!-- Source: Youtube -->
            <iframe src="https://www.youtube.com/embed/f6NjClxO1pk" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="wd-toolbar">

            <a href="../back_up(assignment2)/widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>

            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <span class="pull-right glyphicon glyphicon-user"></span>
    </div>
</nav>

</body>
</html>