<div class="container-fluid">

    <div ng-controller="loginController">
        <div ng-show="welcomeUser" class="alert alert-info">
            Welcome back {{welcomeUser.user}}
        </div>

        <div ng-show="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>

        <h2>Login</h2>

        <label for="username">Username</label>
        <input name="username"
               ng-model="username"
               placeholder="Alice"
               class="form-control"
               id="username"/>

        <label for="password">Password</label>
        <input name="password"
               ng-model="password"
               placeholder="ja!"
               class="form-control"
               type="password"
               id="password"/>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/login"
           role="button">Login</a>

        <a class="btn btn-default btn-success btn-block"
           href="#!/profile"
           role="button">Register</a>
    </div>
</div>
